*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
  max-width: 1440px;
  height: 400px;
  background-color: hsl(212, 45%, 89%);
  margin: 0 auto;  
  
}

.container{
  background: hsl(0, 0%, 100%);
  width: 300px;
  height: 450px;
  margin: 200px auto;
  border-radius: 18px;
  box-shadow: rgba(90, 82, 82, 0.303);

}

.qr-code{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

img{
  width: 290px;
  padding: 16px;
  border-radius: 25px; 
}

span{
  font-family: 'Outfit', sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin: 10px 35px;
  line-height: 25px;
  font-style: normal;
}

p{  
  font-family:'Outfit', sans-serif;
  font-size: 13px;
  padding: 0 42px;
  font-weight: 400;
  
  color: hsl(220, 15%, 55%);
  text-align: center;
}

@media(max-widht: 375px){
  :root{
    font-size: 62.5%;
  }

  .body{
    padding: 0 8rem;
    margin: 0 auto;

  }
}